<html>
  <head>
      <title>Landing page</title>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="/style.css">
      <script src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
  </head>
  <body class="landing">
      <nav id="navbar">
         <div id="reviewdiv">
             <a href="#" id="review">Movie review system</a>
         </div>
         <%if(state==false){%> 
         <div id="signindiv">
             <a href="#" id="sign">Sign In</a>
         </div>
         <%}else{%>
           <ul id="userdiv">
            <li><img src="./user.png" id="userdivimg">
              <ul>
                  <li id="first"> <a href="#" id="changepass">Change Password</a></li>
                  <li id="last"><a href="/signout">Sign Out</a></li>
              </ul>
            </li>  
          </ul>
          <%}%>      
      </nav>
      <%if(msg&&msg.length>0){%>
        <div id="showmsg"><%=msg%></div>
      <%}%>
      <div id="searchdiv">
      <input type="text" id="search" name="search" placeholder="Search">
      </div>
      <div class="formdiv">   
      </div>
      <%if(state==false){%>
        <script src="/show.js"></script>
        <script src="/resetpass.js"></script>
      <%}%>
       <script src="/changepass.js"></script> 
       <script src="/search.js"></script>
  </body>  
</html>